h1 {
  margin-bottom: 28px;
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #ffffff;
    line-height: 60px;
  }
  body::before {
    content: "";
    width: 100%;
    height: 368px;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
  }
  header{
      margin-top: 120px;
  }
  header p {
    width: 417px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  
    color: #ffffff;
  }
  .page {
    margin: auto;
    width: 750px;
  }
  .form {
    height: 1084px;
    padding: 64px;
    margin-top: 58px;
    background: #fafafc;
    min-height: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .information legend,
  .mentor legend,
  .hours legend,
  .hour legend {
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;
  }
  .separador {
    width: 622px;
    border: 1px solid #e6e6f0;
  }
  .dados {
    margin-top: 36px;
  }
  label {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
  }
  .name {
    font-family: "Poppins", sans-serif;
    gap: 22px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    color: #4e4958;
  }
  .event-name,
  .event-surname {
    width: 300px;
    background: #fafafc;
    height: 56px;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
  }
  .email {
    font-family: "Poppins", sans-serif;
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
  .email span {
    font-size: 12px;
    color: #c1bccc;
    line-height: 20x;
  }
  .event-email {
    width: 622px;
    background: #fafafc;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #e6e6f0;
  }
  .mentorname label {
    color: #4e4958;
    display: flex;
    flex-direction: row;
    gap: 6.73px;
    font-family: "Poppins", sans-serif;
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
  .mentorname span {
    display: flex;
    margin-top: 3px;
    font-size: 12px;
    line-height: 20px;
    color: #c1bccc;
  }
  .hours legend {
    margin-top: 40px;
  }
  .container {
    font-family: "Poppins", sans-serif;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
  }
  .container label {
    gap: 6.21px;
    display: flex;
    flex-direction: row;
  }
  .event-date {
    width: 300px;
    height: 56px;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    background: #fafafc;
  }
  .event-hours {
    width: 140px;
    height: 56px;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    background: #fafafc;
  }
  .event-date,
  .event-hours {
    color: #4e4958;
    font-size: 14px;
  }
  .hours span,
  .hour span {
    color: #c1bccc;
  }
  .down {
    background-color: #535971;
    width: 750px;
    height: 160px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .down button {
    color: white;
    width: 608px;
    height: 55.65px;
    background: #ff5374;
    border-radius: 20px;
    border: #ff5374;
  
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  